body {
    padding: 24px;
    background: #8e24aa;
}

.header {
    background: #4d2c91;
    font-size: 20px;
    color: white;
    height: 56px;
    padding: 8px;
    min-width: 128px;
}

.column {
    float:left;
    background: white;
    margin-left: 48px;
}

.taskPlaceholder {
    border-bottom: 1px solid #e3e3e3 ;
    background: white;
    width: 128px;
    min-height: 56px;
    padding: 8px;
}

.task {
    border-bottom: 1px solid #e3e3e3;
    background: #eeeeee;
    width: 128px;
    min-height: 56px;
    padding: 8px;
    cursor: move;
}

@keyframes expandHeight {
    0%   {height: 0; padding: 0; display: none;}
    1%   {height: 1px; padding: 0; display: block;}
    100% {height: 56px; padding: 8px}
}

@keyframes collapseHeight {
    0%   {height: 56px; padding: 8px}
    99%  {height: 0; padding: 0}
    100% {height: 0; padding: 0; display: none;}
}

.expandTask {
    animation-name: expandHeight;
    animation-duration: 500ms;
    height: 56px;
    padding: 8px;
}

.collapseTask {
    animation-name: collapseHeight;
    animation-duration: 500ms;
    height: 0;
    padding: 0;
}