:root {
  --border-color: #e3e3e3;
  --placeholder-color: #ABA6AC;
  --padding: 32px;
}

body {
    background: linear-gradient(-5deg, #1e1941 0%, #c9b5ea 50%, #b1bafb 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.formPanel {
    width: 800px;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

.formDivider {
    height: 1px;
    background: var(--border-color);
    border: 0px solid var(--border-color);
    margin: 0px;
}

.FormHeader {
    color: #404040;
    height: 40px;
    font-size: 36px;
    background: #F0F0F8;
    padding: var(--padding);
}

.formSection {
    border: 1px solid var(--border-color);
    background: #FAF9FE;
    padding: var(--padding);
}

#sectionOne {
    height: 132px;
}

#sectionOne .inputLayout:nth-child(2n+1) { float: left;  }
#sectionOne .inputLayout:nth-child(2n+2) { float: right; }

.inputLayout { position: relative; margin-bottom: var(--padding);}

.inputLayout i {
    position: absolute;
    left: 12px;
    top: 50%; transform: translate(0%, -50%);
    color: #ABA6AC
}

.inputLayout input {
    width: 280px;
    padding-left: 56px;
}

.inputDivider {
    position: absolute;
    border: 1px solid var(--border-color);
    width: 0px;
    height: 34px;
    left: 46px;
    top: 50%; transform: translate(0%, -50%);
    margin: 0px;
}

textarea, input, select {
    min-height: 24px;
    font-size: 20px;
    padding: 12px;
    border: 1px solid var(--border-color);
}

textarea {
    resize: none;
}

input::placeholder, textarea::placeholder {
    color: var(--placeholder-color);
}

select {
    height: 48px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 36px;
    padding-left:12px;
    background:
            url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7 10l5-5 5 5z'/><path d='M0 0h24v24H0z' fill='none'/> <path d='M7 14l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") 96% / 15% no-repeat white;
}

#countrySelect {
    float: left;
    width: 220px;
    margin-right: var(--padding);
}

#cityField {
    width: 262px;
    padding-right: var(--padding);
    margin-bottom: var(--padding);
}

#postalCodeField {
    width: 120px;
}

#addressField {
    width: 710px;
    margin-bottom: var(--padding);
}

#additionalInfoField {
    width: 718px;
    padding: 8px;
}

.RadioGroupWrapper {
    margin-bottom: var(--padding);
}

.RadioGroupWrapper label {
    margin-right: var(--padding);
}

.RadioGroupWrapper input {
    min-height: 0px;
}

#cardholderName {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: var(--padding);
}

#cardNumber {
    width: 582px;
    margin-right: var(--padding);
}

#cvv2 {
    width: 64px;
    margin-bottom: var(--padding);
}

#expDateLabel {
    margin-right: 207px;
}

#expDateMonth {
    width: 200px;
    margin-right: var(--padding);
}

#expDateYear {
    width: 128px;
}

#continueButton {
    color: white;
    background: #b95dca;
    height: 48px;
    float: right;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 20px;
}


